<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="navbar-brand" href="#"><strong>Western Beats</strong></a>
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/login" *ngIf="!currentUser">Login</a>
        <a class="nav-item nav-link" routerLink="/myaccount" *ngIf="currentUser">My Account</a>
        <!-- <a class="nav-item nav-link" routerLink="/" *ngIf="currentUser">Home</a>
		<a class="nav-item nav-link" routerLink="/" *ngIf="!currentUser">Login</a> -->
		<a class="nav-item nav-link" routerLink="/about">About</a>
		<a class="nav-item nav-link" (click)="logout()" *ngIf="currentUser">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div>
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
		<a href="https://www.linkedin.com/in/mandeepjandoria" target="_top">Click here to see developer's profile.</a>
    </p>
</div>