<h1>Hi {{currentUser.firstName}}!</h1>
<div class="col-sm-6">
    <input placeholder="Search any song here">
    <!-- <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Song Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Add To Playlist</th>
                </tr>
            </thead>
            <tbody> -->
                <!-- <tr *ngFor="let song of songs | filter : searchText"> -->
                <!-- <tr *ngFor="let song of songs"> -->
                <!-- <th scope="row">{{song.id}}</th> -->
                    <!-- <td>{{song.songname}}</td>
                    <td>{{song.artist}}</td>
                    <td>{{song.rating}}</td>
                    <td><a class="text-danger">Add</a></td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <h3>Songs Available:</h3>
                <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Image</th>
	    			<th scope="col">Song Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Add To Playlist</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let song of songs">
					    <!-- <th scope="row">{{song.id}}</th> -->
                        <td><img class="img-responsive" src=""></td>
                        <td>{{song.songname}}</td>
                        <td>{{song.artist}}</td>
                        <td>{{song.rating}}</td>
                        <td><a class="text-danger">Add</a></td>
                    </tr>
                </tbody>
                <!-- <tr>
                    <td>{{user.username}}</td>
                </tr> -->
                </table>
                - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
	        </div>
        </div>
        
        <div class="col-sm-6">
            <h3>Create Playlist</h3>
            <form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="listname">Playlist Name</label>
                    <input type="text" formControlName="listname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.listname.errors }" />
                    <div *ngIf="submitted && f.listname.errors" class="invalid-feedback">
                        <div *ngIf="f.listname.errors.required">Playlist name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" formControlName="description" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="visibility">Visibility</label>
                    <select name="visibility" formControlName="visibility" class="form-control">
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                      </select>
                    <!-- <input type="text" formControlName="year" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }" />
                    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                        <div *ngIf="f.year.errors.required">Year is required</div>
                    </div> -->
                </div>
                <div class="form-group">
                    <label for="createdby">Created By</label>
                    <input type="text" formControlName="createdby" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createdby.errors }" />
                    <div *ngIf="submitted && f.createdby.errors" class="invalid-feedback">
                        <div *ngIf="f.createdby.errors.required">Created By is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Add
                    </button>
                </div>
            </form>
        </div>

        <div class="col-sm-6" *ngIf="currentUser">
            <h2>Add a new song</h2>
            <form [formGroup]="songForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="songname">Song Name</label>
                    <input type="text" formControlName="songname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.songname.errors }" />
                    <div *ngIf="submitted && f.songname.errors" class="invalid-feedback">
                        <div *ngIf="f.songname.errors.required">Song name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="artist">Artist</label>
                    <input type="text" formControlName="artist" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.artist.errors }" />
                    <div *ngIf="submitted && f.artist.errors" class="invalid-feedback">
                        <div *ngIf="f.artist.errors.required">Artist is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="text" formControlName="year" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year.errors }" />
                    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                        <div *ngIf="f.year.errors.required">Year is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" formControlName="genre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.genre.errors }" />
                    <div *ngIf="submitted && f.genre.errors" class="invalid-feedback">
                        <div *ngIf="f.genre.errors.required">Genre is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="createdby">Created By</label>
                    <input type="text" value="currentUser" formControlName="createdby" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createdby.errors }" />
                    <div *ngIf="submitted && f.createdby.errors" class="invalid-feedback">
                        <div *ngIf="f.createdby.errors.required">Created By is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>